<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="ALL SITES OPERATION">
        <parameter name="browser" value="firefox"/>
        <classes>
<!--            <class name="testCases.TC_LoginDDT"></class>-->
<!--            <class name="testCases.Tc_loginpage"></class>-->
            <class name="testCases.TC_Site"></class>

        </classes>
    </test >
</suite>